<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
    <p:outputLabel value="#{dataListController.headerText}"/>

    <h:form>

        <p:commandLink id="nonAjax"
                       actionListener="#{dataListController.createInitData}"
                       style="margin-right:20px;"
                       ajax="true"
                       update="dataTable">
            <h:outputText value="View data"/>
        </p:commandLink>

        <p:dataTable id="dataTable" var="human" value="#{dataListController.list}"
                     paginator="true" rows="10"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="5,10,15">

            <p:column headerText="First Name" sortBy="firstName">
                <h:outputText value="#{human.firstName}"/>
            </p:column>

            <p:column headerText="Last Name" sortBy="lastName">
                <h:outputText value="#{human.lastName}"/>
            </p:column>

            <p:column headerText="Active" sortBy="active">
                <h:outputText value="#{human.active}"/>
            </p:column>
        </p:dataTable>
    </h:form>

</h:body>
</html>